$primary-text-color: #757575;
$primary-bgc: #e5e5e5;
$primary-black-color: #212121;
$accent-color: #2196f3;
$secondary-bgc: #2f303a;
$primary-white-color: #ffffff;
$white-transparent-color: rgba(255, 255, 255, 0.6);
$secondary-color: #f5f4fa;
$border-color: #ececec;
$secondary-grey-color: #afb1b8;
